h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Bitter', serif;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: #333;
}

nav {
    background: whitesmoke;
    border-bottom: 1px solid black;
    clear: both;
    overflow: hidden;
    /* padding: 5px; */
}

.nav-link {
    float: left;
    padding: 10px 10px 5px 10px;
    cursor: pointer;
    border-bottom: 5px solid whitesmoke;
}

.nav-link:hover {
    background: lightgray;
    border-bottom: 5px solid lightgray;
}

.activeLink {
    background: lightgray;
    border-bottom: 5px solid dodgerblue;
}

.activeLink:hover {
    border-bottom: 5px solid dodgerblue;
}

.main-content {
    height: calc(100vh - 37px);
    width: 100vw;
    overflow: auto;
    /* padding: 15px; */
    /* background: greenyellow; */
}

.add-padding {
    padding: 15px;
}

h1 {
    padding: 15px;
    font-size: 22px;
    margin-bottom: 10px;
    border-bottom: 2px dotted saddlebrown;
    display: inline-block;
}

.about-p {
    line-height: 30px;
    margin-bottom: 30px;
    max-width: 750px;
    padding: 0px 15px
}

#share {
    background: whitesmoke;
    color: #999;
    padding: 10px;
    font-size: 30px;
    border: 1px solid #666;
    border-radius: 5px;
    position: fixed;
    top: 70%;
    right: -42px;
    transition: all 0.5s ease-in;
}

#share:hover {
    right: -5px;
}

#share>i {
    cursor: pointer;
    clear: both;
    display: flex;
}

#share>i:hover {
    color: #666
}

.img-container {
    position: relative;
    height: 0;
    overflow: hidden;
    /* padding-bottom: 66.78082192%; */
    background: whitesmoke;
}

img {
    /* margin-left: -15px; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.about-wrapper {
    background: rgba(0, 0, 0, 0.3);
    color: white;
    padding: 2rem;
    width: 33%;
    margin: 75px 2rem;
    float: right;
    /* font-size: 1.2rem; */
}

@media screen and (max-width: 800px) {
    .about-wrapper {
        width: 100%;
        margin: 75px 0px;
        padding: 0;
    }
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: #999;
    background-size: cover;
    transition: 1s opacity;
}

#toggleMuteBtn {
    margin-left: 5px;
}

#togglePlayBtn {
    margin-left: 35px;
}

.videobtns {
    position: fixed;
    bottom: 40px;
    width: 25px;
    height: 25px;
    background: rgba(0, 0, 0, 0.3);
    color: lightslategrey;
    outline: none;
}

.videobtns:hover {
    color: white;
}